<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Học Viện Kỹ Thuật Mật Mã</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .btn {
  padding: 0.5em 1em;
  
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}
.btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn:hover::before {
  width: 250%;
}
button{
  border: none;
  background-color: transparent;
}
  .icon{
    width: 24px;
    height: 22px;
  }
    /* CSS cho bảng */
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .table th,
    .table td {
      padding: 10px;
      text-align: left;
      border: 1px solid #dee2e6;
    }

    .table th {
      background-color: #007bff;
      color: white;
      font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
      background-color: #f8f9fa;
    }

    .table tbody tr:hover {
      background-color: #e2e6ea;
    }

    .table td {
      vertical-align: middle;
    }

    .bg-custom {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .spinner-border {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <nav class="navbar-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo">
        <div class="navbar-title">
          <img src="/dongchu_banner.png" alt="banner">
        </div>
      </a>
    </div>
  </nav>

  <!-- Phần dưới của navbar chứa các mục nằm ngang -->
  <nav class="navbar navbar-expand-lg navbar-bottom">
    <div class="" style="width: 100%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/admin"><i class="bi bi-house"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="ThongTinTK" href="/thongTinTK">Thông Tin Tài Khoản </a>       
               </li>
                <li class="nav-item">
                  <a class="nav-link active" id="NhanVien" href="/nhanVien">Nhân Viên </a>        
                 </li>
                 <li class="nav-item">
                  <a class="nav-link" id="PhongBan" href="/phongBan">Phòng Ban </a>        
                 </li>
            </ul>
          </div>
            
          <div class="navbar-nav">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, ADMIN
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                <a class="dropdown-item" href="/">Đăng xuất</a>
              </div>
            </div>
        </div>
    </div>
    </div>
  </nav>

    <div class="container my-5 box">
      <div class="d-flex justify-content-start mb-3">

        <!-- Nút Lọc màu giống nút Hiển thị -->

        <button id="createNv" class="btn">
          <i class="bi bi-plus-circle"></i> Thêm Nhân Viên
      </button>
      <script>
          document.getElementById('createNv').addEventListener('click', function() {
              window.location.href = '/themNhanVien';
          });
      </script>

      </div>
      <div class="pb-3">
      <table id="nhanVienTable" class="table table-bordered">
          <thead>
            <tr>
              <th>Mã nhân viên</th>
              <th>Tên nhân viên</th>
              <th>Giới tính</th>
              <th>Mã Phòng ban</th>
              <th>Tên phòng ban</th>
              <th>Chức vụ</th>
              <th>Môn giảng dạy chính</th>
              <th>Điện thoại</th>
              <th>CCCD</th>
              <th>Ngày cấp CCCD</th>
              <th>Nơi cấp CCCD</th>
              <th>Học vị</th>
              <th>Tên đăng nhập</th>
              <th>Mật khẩu</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody id="data-table-body">
            <% if (nhanvienLists && nhanvienLists.length > 0) { %>
              <% for (var i = 0; i < nhanvienLists.length; i++) { %>
                <tr>
                  <td><%= nhanvienLists[i].MaNhanVien %></td> <!-- Hiển thị tên tài khoản -->
                  <td><%= nhanvienLists[i].TenNhanVien %></td> <!-- Hiển thị email -->
                  <td><%= nhanvienLists[i].GioiTinh %></td>
                  <td><%= nhanvienLists[i].MaPhongBan %></td>
                  <td><%= nhanvienLists[i].TenPhongBan %></td>
                  <td><%= nhanvienLists[i].ChucVu %></td>
                  <td><%= nhanvienLists[i].MonGiangDayChinh %></td>
                  <td><%= nhanvienLists[i].DienThoai %></td>
                  <td><%= nhanvienLists[i].CCCD %></td>
                  <% const options={ year: 'numeric' , month: '2-digit' , day: '2-digit' }; %>
                  <td><%= new Date(nhanvienLists[i].NgayCapCCCD).toLocaleDateString('vi-VN', options) %></td>
                  <td><%= nhanvienLists[i].NoiCapCCCD %></td>
                  <td><%= nhanvienLists[i].HocVi %></td>
                  <td><%= nhanvienLists[i].TenDangNhap %></td>
                  <td><%= nhanvienLists[i].MatKhau %></td>
                  <td class="d-flex" style="border: none;">
                    <button class="action-button edit"
                        onclick="editNV(this, <%= parseInt(nhanvienLists[i].id_User) - 1 %>)">
                        ✏️
                      </button>
                  </td>
                </tr>
              <% } %>
            <% } else { %>
              <tr>
                <td colspan="3">Không có tài khoản nào.</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Script xử lý checkbox -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectAllCheckbox = document.getElementById('selectAll');
            const rowCheckboxes = document.querySelectorAll('.row-checkbox');

            selectAllCheckbox.addEventListener('change', function() {
                rowCheckboxes.forEach(checkbox => {
                    checkbox.checked = selectAllCheckbox.checked;
                });
            });

            rowCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    selectAllCheckbox.checked = Array.from(rowCheckboxes).every(cb => cb.checked);
                });
            });
        });
    </script>
    <script>
      function editNV(button, index) {
      hre = '/updateNV/' + index;
      window.location.href = hre;

    }
    </script>
</body>
</html>