<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Viện Kỹ Thuật Mật Mã</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/forminput.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->

</head>
<body>
   
    <nav class="navbar-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo">
            <div class="navbar-title">
              <img src="/dongchu_banner.png" alt="banner">
            </div>
          </a>
        </div>
      </nav>
    
      <!-- Phần dưới của navbar chứa các mục nằm ngang -->
      <nav class="navbar navbar-expand-lg navbar-bottom sticky-top">
        <div class="" style="width: 100%;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="Home" href=""><i class="fa-solid fa-house"></i></a>
              </li>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Giảng Viên Mời
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link active" href="/gvmList">Danh sách giảng viên mời</a>
                    <a class="nav-link" id="Import" href="">Thêm bằng file</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Bảng Quy Chuẩn
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" href="/tableTam">Bảng quy chuẩn dự kiến</a>
                    <a class="nav-link" href="/tableQC">Bảng quy chuẩn chính thức</a>
                    <a class="nav-link" id="ThongTinGD" href="">Thông tin giảng viên theo lớp</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mời Giảng
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" href="/classInfoGvm">Thông tin lớp giảng viên mời</a>
                    <a  class="nav-link " href="/infoHDGvm" role="button">Thông tin hợp đồng</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Vượt Giờ
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="ThongTinGD" href="#">COMING SOON</a>              </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Nghiên Cứu Khoa Học
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="ThongTinGD" href="#">COMING SOON</a>              </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Đồ Án
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="ThongTinGD" href="#">COMING SOON</a>              </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Thống Kê
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="ThongTinGD" href="#">COMING SOON</a>
                  </div>
                </div>
              </div>
            </ul>
            <div class="navbar-nav">
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fullname" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Hi, Lê Đức Thuận
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                  <a class="dropdown-item" href="/">Đăng xuất</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
                      <!-- Main content -->
                      <div class="m-3">
                        <form action="/updateGvm" method="POST" class="form d-flex flex-column" enctype="multipart/form-data">
                           <!-- //enctype="multipart/form-data" -->
                           <fieldset>
                               <div style="display: none;">
   <a>Id:<input class="input" type="text" name="IdGvm" id="IdGvm" value="<%= value.id_Gvm %> " ></a>
                               </div>
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="HoTen">Họ tên:</label>
       <input required class="form-control" type="text" name="HoTen" id="HoTen" value="<%= value.HoTen %>" >
   </div>
   <div class="col-md-4">
       <label for="gioitinh">Giới tính:</label>
       <select class="form-control" name="GioiTinh" id="gioitinh" >
           <option value="Nam" <%= value.GioiTinh === 'Nam' ? 'selected' : '' %>>Nam</option>
           <option value="Nu" <%= value.GioiTinh === 'Nu' ? 'selected' : '' %>>Nữ</option>
       </select>
   </div>
   <div class="col-md-4">
       <label for="ngaySinh">Ngày sinh:</label>
       <input required class="form-control" type="date" name="NgaySinh" id="ngaySinh" value="<%= new Date(value.NgaySinh).toISOString().split('T')[0] %>" >
   </div>
                               </div>
                           
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="CCCD">CCCD:</label>
       <input required class="form-control" type="text" name="CCCD" id="CCCD" value="<%= value.CCCD %>" >
   </div>
   <div class="col-md-4">
       <label for="NgayCapCCCD">Ngày cấp CCCD:</label>
       <input required class="form-control" type="date" name="NgayCapCCCD" id="NgayCapCCCD" value="<%= new Date(value.NgayCapCCCD).toISOString().split('T')[0] %>" >
   </div>
   <div class="col-md-4">
       <label for="NoiCapCCCD">Nơi cấp CCCD:</label>
       <input required class="form-control" type="text" name="NoiCapCCCD" id="NoiCapCCCD" value="<%= value.NoiCapCCCD %>" >
   </div>
                               </div>
                           
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="DiaChi">Địa chỉ theo CCCD:</label>
       <input required class="form-control" type="text" name="DiaChi" id="DiaChi" value="<%= value.DiaChi %>" >
   </div>
   <div class="col-md-4">
       <label for="msthue">Mã số thuế:</label>
       <input required class="form-control" type="text" name="MaSoThue" id="msthue" value="<%= value.MaSoThue %>" >
   </div>
   <div class="col-md-4">
       <label for="BangTotNghiepLoai">Bằng tốt nghiệp loại:</label>
       <input required class="form-control" type="text" name="BangTotNghiepLoai" id="BangTotNghiepLoai" value="<%= value.BangTotNghiepLoai %>" >
   </div>
                               </div>
                               <div class="row mb-3">
   <div class="col-md-4">
       <label>Mặt trước CCCD:</label>
       <img src="/images/userIdCardPhotos/frontPhotos/<%= value.MatTruocCCCD %>" alt="Mặt trước CCCD" width="100" id="imgtruoc">
       <br>
       <input class="form-control" type="file" name="truocCCCD" id="imgtruocinput" >
       <input type="hidden" name="oldTruocCCCD" value="<%= value.MatTruocCCCD %>" >
   </div>
   <div class="col-md-4">
       <label>Mặt sau CCCD:</label>
       <img src="/images/userIdCardPhotos/frontPhotos/<%= value.MatSauCCCD %>" alt="Mặt sau CCCD" width="100" id="imgsau">
       <br>
       <input class="form-control" type="file" name="sauCCCD" id="sauCCCD" >
       <input type="hidden" name="oldSauCCCD" value="<%= value.MatSauCCCD %>" >
   </div>
   <div class="col-md-4">
       <label>Bằng đại học:</label>
       <img src="/images/userIdCardPhotos/frontPhotos/<%= value.imgbangdh %>" alt="Bằng đại học" width="100" id="imgbang">
       <br>
       <input class="form-control" type="file" name="imgbangdh" id="imgbangdh" >
       <input type="hidden" name="oldimgbangdh" value="<%= value.imgbangdh %>" >
   </div>
                               </div>
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="dienThoai">Điện thoại:</label>
       <input required class="form-control" type="text" name="DienThoai" id="dienThoai" value="<%= value.DienThoai %>" >
   </div>
   <div class="col-md-4">
       <label for="email">Email:</label>
       <input required class="form-control" type="email" name="email" id="email" value="<%= value.Email %>" >
   </div>
   <div class="col-md-4">
       <label>File lý lịch (PDF):</label> <%= value.FileLyLich %>   
       <input class="form-control" type="file" name="FileLyLich" id="FileLyLich" >
       <input type="hidden" name="oldFileLyLich" value="<%= value.FileLyLich %>" >
   </div>
                               </div>
                           
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="NoiCongTac">Nơi công tác:</label>
       <input required class="form-control" type="text" name="NoiCongTac" id="NoiCongTac" value="<%= value.NoiCongTac %>" >
   </div>
   <div class="col-md-4">
       <label for="chucvu">Chức vụ:</label>
       <input required class="form-control" type="text" name="ChucVu" id="chucvu" value="<%= value.ChucVu %>" >
   </div>
   <div class="col-md-4">
       <label for="hocVi">Học vị:</label>
       <input required class="form-control" type="text" name="HocVi" id="hocVi" value="<%= value.HocVi %>" >
   </div>
                               </div>
                           
                               <div class="row mb-3">
   <div class="col-md-4">
       <label for="hsl">Hệ số lương:</label>
       <input required class="form-control" type="text" name="HeSoLuong" id="hsl" value="<%= value.HSL %>" >
   </div>
   
   <div class="col-md-4">
       <label for="stk">Số tài khoản:</label>
       <input required class="form-control" type="text" name="STK" id="stk" value="<%= value.STK %>" >
   </div>
   <div class="col-md-4">
       <label for="nganHang">Ngân hàng:</label>
       <input required class="form-control" type="text" name="NganHang" id="nganHang" value="<%= value.NganHang %>" >
   </div>
                               </div>
                               <div class="row mb-3">
   <div class="col-md-4">
       <p style="margin-bottom: 8px;">Mã phòng ban:</p>
       <label>
           <input class="m-2" type="checkbox" name="maPhongBan" value="CNTT" style="cursor: pointer;"  <%= value.MaPhongBan.includes('CNTT') ? 'checked' : '' %> > CNTT
       </label>
       <label>
           <input class="m-2" type="checkbox" name="maPhongBan" value="ATTT" style="cursor: pointer;"  <%= value.MaPhongBan.includes('ATTT') ? 'checked' : '' %> > ATTT
       </label>
       <label>
           <input class="m-2" type="checkbox" name="maPhongBan" value="DTVT" style="cursor: pointer;"  <%= value.MaPhongBan.includes('DTVT') ? 'checked' : '' %> > DTVT
       </label>
   </div>
   <div class="col-md-4">
       <label for="tinhTrang">Tình trạng giảng dạy:</label>
       <select class="form-control" name="tinhTrangGiangDay" id="tinhTrang" >
           <option value="true" <%= value.TinhTrangGiangDay === true ? 'selected' : '' %>>Đang giảng dạy</option>
           <option value="false" <%= value.TinhTrangGiangDay === false ? 'selected' : '' %>>Đã ngừng giảng dạy</option>
       </select>
   </div>
   <div class="col-md-4 d-flex justify-content-between">
      <button class="button-class bt" id="submit">Cập nhật</button>
      <button class="button-class bt" id="return" onclick="goBack()">Quay lại</button>
   </div>
                               </div>
                           </fieldset>
                           
                       </form>                          
                   </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    // Lấy query string từ URL
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    // Lấy phần tử div để hiển thị thông báo
    const messageDiv = document.getElementById('message');

    // Hiển thị thông báo dựa trên giá trị của message
    if (message === 'insertSuccess') {
      alert("insertSuccess")
    } else if (message === 'insertFalse') {
      alert("insertFalse")
    }
      // Sau khi hiển thị thông báo, xóa query string để tránh hiển thị lại khi refresh
    if (message) {
    // Sử dụng window.history để xóa query string mà không refresh lại trang
        //const newUrl = window.location.origin + window.location.pathname;
        //window.history.replaceState({}, document.title, newUrl);
    }

    // Quay lại trang cũ
    function goBack() {
        window.history.back(); // Quay lại trang trước đó
      }
  </script>

  <!-- Phần phân quyền -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Thêm sự kiện click cho phần tử có id "import"
      const importLink = document.getElementById("Import");

      importLink.addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

        const isKhoa = localStorage.getItem("isKhoa"); // Lấy role từ localStorage

        if (isKhoa==0) { // Nếu là đào tạo hoặc tài chính
          window.location.href = "/import";
        } else { // Nếu là khoa
          window.location.href = "/importGvmList";
        }
      });

      // Thêm sự kiện click cho phần tử có id="ThongTinGD"
      const ThongTinGD = document.getElementById("ThongTinGD");

      ThongTinGD.addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

        const isKhoa = localStorage.getItem("isKhoa"); // Lấy role từ localStorage

        if (isKhoa==0) { // Nếu là đào tạo hoặc tài chính
          window.location.href = "/info2";
        } else {
          window.location.href = "/info";
        }
      });

      // Thêm sự kiện click cho phần tử có id="Home"

      const Home = document.getElementById("Home");

      Home.addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

        const isKhoa = localStorage.getItem("isKhoa")

        if (isKhoa==0) { // Nếu là đào tạo hoặc tài chính
          window.location.href = "/maindt";
        } else {
          window.location.href = "/mainkhoa";
        }
      });
    });

  </script>

  <script>
    window.onload = function () {
      const TenNhanVien = localStorage.getItem("TenNhanVien"); // Lấy tên người dùng từ localStorage
      const Role = localStorage.getItem("userRole");
  
      if (TenNhanVien) {
        // Hiển thị tên người dùng trên phần tử HTML
        document.querySelector('.fullname').innerText = `${TenNhanVien} - ${Role}`;
      } else {
        document.querySelector('.fullname').innerText = 'Hi, Guest'; // Hiển thị nếu không có tên người dùng
      }
  
      document.querySelector('.role').innerText = `${Role}`;
  
    };
  </script>
  <script>
    const imagetruocInput = document.getElementById('imgtruocinput');
    const imagetruocPreview = document.getElementById('imgtruoc');

    imagetruocInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          imagetruocPreview.src = e.target.result;
          imagetruocPreview.style.display = 'block';
        }
        reader.readAsDataURL(file);
      }
    });
  </script>
  <script>
    const imagesauInput = document.getElementById('sauCCCD');
    const imagesauPreview = document.getElementById('imgsau');

    imagesauInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          imagesauPreview.src = e.target.result;
          imagesauPreview.style.display = 'block';
        }
        reader.readAsDataURL(file);
      }
    });
  </script>
  <script>
    const imagebang = document.getElementById('imgbangdh');
    const imagebangPreview = document.getElementById('imgbang');

    imagebang.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          imagebangPreview.src = e.target.result;
          imagebangPreview.style.display = 'block';
        }
        reader.readAsDataURL(file);
      }
    });
  </script>

</body>
</html>

